# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.vscode
.DS_Store

# VueJS
node_modules
/dist

# Firebase
.firebaserc
.firebase/
firebase*
firestore*

# My Ignore
temp/
