.hero-body-profile {
	background-color: rgb(233, 233, 233);
	padding: 1.5rem;
}

.section {
	padding: 1.5rem;
}

.fixed {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	// left: 80%;
	top: 10%;
}
