.hero-body-profile {
	position: relative;
	justify-content: center;
	padding: 3rem 1.2rem 0.5rem;
	padding-bottom: 1rem;
	&::before {
		background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),
			url("../../assets/images/home-background.jpg") no-repeat center
				center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		content: "";
	}
}

.profile-mobile {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.section {
	padding: 0px 0px !important;
}

.notification {
	margin-bottom: 0.5rem !important;
	padding-left: 1.5rem !important;
	padding-right: 1.6rem !important;
}

.tile.is-parent {
	padding: 0.75rem;
	padding-bottom: 0.25rem !important;
}

.fixed {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	// left: 80%;
	top: 10%;
}

.columns {
	margin-top: 0.25rem;
}
