.hero-body-profile {
	position: relative;
	justify-content: center;

	&::before {
		background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),
			url("../../assets/images/home-background.jpg") no-repeat center
				center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		content: "";
	}
}

.section {
	padding: 1.5rem;
}

.fixed {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	// left: 80%;
	top: 10%;
}
