@import "./variables.scss";

col {
  padding: 0px 40px 0px 40px;
}
p {
  padding-left: 15px !important;
}
.v-expansion-panel {
  background-color: #263859 !important;
}
.v-expansion-panel-header {
  background-color: #263859 !important;
}
.v-expansion-panel-content {
  background-color: #263859 !important;
}
.v-timeline {
  padding-top: 0px;
}
.v-timeline::before {
  background: #263859 !important;
}
