@import "./variables.scss";
// Add-on

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
}

.v-main {
  background-color: #159e63 !important;
}

.v-container {
  background-color: #8a1e1e !important;
}

.v-app-bar {
  background-color: #ffc273 !important;
}

.v-sheet {
  background-color: #b62a93 !important;
}

.v-footer {
  background-color: #3300eb !important;
}
