@import "./variables.scss";

.a4-paper {
  background-color: #ffffff !important;
  color: #000000 !important;
  min-width: 794px;
  min-height: 1122px;
  width: 794px;
  height: 1122px;
  padding: 10px;
  margin: auto;
}

.horizontal-line {
  border: 1px solid rgb(0, 0, 0);
}

.resume-header-section1 {
  padding: 7px 0px 0px 12px !important;
}

.resume-header-section2 {
  padding: 7px 20px 0px 0px !important;
}

.resume-header-section3p1 {
  padding-right: 0px !important;
}

.resume-p {
  margin-bottom: 0px !important;
  padding-left: 0px !important;
}

.resume-p-list {
  margin-bottom: 0px !important;
  padding-left: 15px !important;
}

.resume-a {
  color: #000000 !important;
}

.resume-row {
  padding: 0px 0px 0px 0px !important;
}

.resume-col {
  padding: 0px 12px 12px 12px !important;
}

.qrresume {
  align-items: center;
}
