@import "./variables.scss";
// Add-on

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
}

.v-container {
  background-color: #17222f !important;
}

.v-dialog {
  background-color: #17222f !important;
}

.v-expansion-panels .v-expansion-panel {
  background-color: #171e29 !important;
}

.v-image {
  background-color: #171e29 !important;
}
