.el-col {
  border-radius: 4px;
}
.bg-purple-dark {
  background: #99a9bf;
}
.bg-purple {
  background: #d3dce6;
}
.bg-purple-light {
  background: #e5e9f2;
}
.grid-content {
  border-radius: 4px;
  min-height: 36px;
}
#header {
  h1, h3 {
    text-align: left;
    padding-left: 50px;
  }
  h1 {
    font-size: 2em;
    color: black;
  }
  h3 {
    font-size: 1.5em;
    color: #005cff;
  }
  .h1-header-name-xl {
    font-size: 5em;
  }
  .h3-header-name-xl {
    font-size: 4.5em;
  }
  .h1-header-name-lg {
    font-size: 3em;
  }
  .h3-header-name-lg {
    font-size: 2.5em;
  }
  .h1-header-name-md-sm {
    font-size: 2em;
  }
  .h3-header-name-md-sm {
    font-size: 1.5em;
  }
  .header-xs {
    text-align: center;
    padding-left: 0px;
  }
  p {
    font-size: 1em;
    text-align: justify;
  }
  .p-header-name-xl {
    font-size: 2.5em;
    padding-left: 100px;
    padding-right: 40px;
  }
  .p-header-name-lg {
    font-size: 1.5em;
    padding-left: 80px;
    padding-right: 40px;
  }
  .p-header-name-md-sm {
    font-size: 1em;
    padding-left: 20px;
    padding-right: 20px;
  }
  .p-header-name-xs {
    font-size: 1em;
    margin-left: 20px;
    margin-right: 20px;
  }
  .content-title {
    margin-top: 2.5em;
  }
  .content-title-xs {
    margin-top: 1em;
  }
}
#contact {
  p {
    font-size: 1.5em;
    text-align: right;
    margin-right: 15px;
  }
  .p-xl {
    font-size: 2.5em;
    margin-right: 1em;
  }
  .p-lg {
    font-size: 1.5em;
    margin-right: 1em;
  }
  .p-xs {
    font-size: 1em;
    margin-right: 1em;
  }
  .top-xl {
    margin-top: 10em;
  }
  .top-lg {
    margin-top: 6em;
  }
  .top-xs {
    margin-top: 1em;
  }
  .content {
    display: block;
  }
  .content-xl {
    margin-right: 50px;
    margin-bottom: 15px;
  }
  .content-lg {
    margin-right: 20px;
    margin-bottom: 15px;
  }
  .content-xs {
    margin-right: 10px;
    margin-bottom: 5px;
  }
  .ico-xl {
    width: 3em;
    height: 3em;
  }
  .ico-lg {
    width: 1.5em;
    height: 1.5em;
  }
  .ico-xs {
    width: 1.5em;
    height: 1.5em;
  }
}
#profilepic {
  img {
    margin-top: 1em;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: #00adff;
    padding-left: 0px;
    padding-right: 0px;
  }
  .img-xl {
    margin-top: 10em;
    width: 30em;
    height: 30em;
  }
  .img-lg {
    margin-top: 6em;
    width: 20em;
    height: 20em;
  }
  .img-md-sm {
    width: 10em;
    height: 10em;
    }
  .img-xs {
    width: 10em;
    height: 10em;
  }
}