@charset "utf-8";

@import "./mybullma.scss";

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.hero-head {
	margin: 0px 0px 50px 0px;
}

.logoimg {
	width: 30px;
	margin: 0px 8px 0px 0px;
}
